<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/dropzone.min.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', path='js/dropzone.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='js/DeleteToDo.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', path='js/GetUser.js') }}"></script>
</head>
<body>
    <header id="header" class="header">
        <div class="container">
            <div class="nav">
                <img src="{{ url_for('static', path='img/logo.svg') }}" alt="Burning Man" class="logo">
                <ul class="menu">
                    <li>
                        <a href="/">
                            Главная
                        </a>
                    </li>
                    <li>
                        <a href="/excel">
                            Экспорт
                        </a>
                    </li>
                    <li>
                        <a href="/visualize">
                            Визулизация
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button type="button" class="btn btn-custom rounded-pill" style="color: #fff; margin-left: 20vh; font-size: 28px;" id="open-modal-btn">Войти</button>
                    </li>
                    <li id="iflogin" class="nav-item">
                        <span id="loginingUsername" class="username"></span>
                        <button id="dvd" class="btn btn-custom rounded-pill" style="display: none; color: #fff; margin-left: 20vh; font-size: 28px;" onclick="exit()">
                            Выйти
                        </button>
                    </li>
                </ul>
            </div>

            <style type="text/css">
                .username {
                    position: absolute;
                    margin-left: 45px;
                    margin-top: 14px;
                    font-size: 24px;
                }
            </style>

            <script type="text/javascript">
                const token = localStorage.getItem('token');
                if (token != null) {
                    const nickname = fetchUser();
                    document.getElementById("open-modal-btn").style.display = "none";
                    document.getElementById("iflogin").style.display = "inline";
                    document.getElementById("dvd").style.display = "inline";
                } else {
                    console.log("Not registered");
                }
            </script>

            <div class="modal" id="my-modal">
        <div class="modal__box">
            <button class="modal__close-btn" id="close-my-modal-btn">
                <svg width="23" height="25" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.09082 0.03125L22.9999 22.0294L20.909 24.2292L-8.73579e-05 2.23106L2.09082 0.03125Z"
                        fill="#333333" />
                    <path d="M0 22.0295L20.9091 0.0314368L23 2.23125L2.09091 24.2294L0 22.0295Z" fill="#333333" />
                </svg>
            </button>
            <form method="post" action="/token">
                <label for="username" style="color: #000;">Имя пользователя</label><br>
                <input type="text" id="username" name="username" required><br><br>
                <label for="password" style="color: #000;">Пароль</label><br>
                <input type="password" id="password" name="password" required><br><br>
                <input type="submit" value="Войти" class="btn-enter">
            </form>
            <form action="/link-register">
                <input type="submit" value="Зарегистрироваться" class="btn-enter">
            </form>
        </div>
    </div>

            <div class="empty">
                <style type="text/css">
                    .empty {
                        height: 50px;
                    }
                </style>
            </div>
    {% block content %}
    
    {% endblock content %}
    <footer id="footer" class="footer">
        <div class="container">
            <ul class="social">
                <a href="/"><img src="{{ url_for('static', path='img/gitlab.png') }}" style="height: 100px; margin-bottom: 10px;"></a>
            </ul>
            <ul class="menu-footer">
                <li><a href="/">Главная</a></li>
                <li><a href="/excel">Экспорт</a></li>
                <li><a href="/">Визуализация</a></li>
            </ul>
            <p>©2023 ToDoApp | Все права защищены</p>
        </div>
    </footer>
    <script type="text/javascript">
        // Открыть модальное окно
        document.getElementById("open-modal-btn").addEventListener("click", function() {
            document.getElementById("my-modal").classList.add("open")
        })

        // Закрыть модальное окно
        document.getElementById("close-my-modal-btn").addEventListener("click", function() {
            document.getElementById("my-modal").classList.remove("open")
        })

        // Закрыть модальное окно при нажатии на Esc
        window.addEventListener('keydown', (e) => {
            if (e.key === "Escape") {
                document.getElementById("my-modal").classList.remove("open")
            }
        });

        // Закрыть модальное окно при клике вне его
        document.querySelector("#my-modal .modal__box").addEventListener('click', event => {
            event._isClickWithInModal = true;
        });
        document.getElementById("my-modal").addEventListener('click', event => {
            if (event._isClickWithInModal) return;
            event.currentTarget.classList.remove('open');
        });
    </script>
</body>
</html>
