{% extends 'base.html' %}

{% block content %}
    <h1 style="text-align: center;" class="shadow"><em class="em-shadow">ToDo</em> - список задач</h1>
        <br>
        
    <form action="/add" method="post">
        <label for="title-area-todo">Заголовок</label>
        <textarea name="title" rows="3" id="title-area-todo"placeholder="Введите задачу" maxlength="500" required></textarea>
        <label for="description-area-todo">Описание</label>
        <textarea name="details" rows="5" id="description-area-todo"placeholder="Введите описание" maxlength="500" required></textarea>
        <label for="tag-selecter">Тег</label>
        <select class="form-select" aria-label="Default select example" id="tag-selecter" name="tag">
            <option value="studies">
                Учёба
            </option>
            <option value="personal">
                Личное
            </option>
            <option value="plans">
                Планы
            </option>
        </select>
        <button type="submit" class="btn btn-secondary" style="margin-top: 10px;">Добавить</button>
    </form>

    <div class="meibi">
        <img src="{{ url_for('static', path='img/images.jpeg') }}" style="margin-top: 10px; width: 577px;">
    </div>

    <br>
    <h2 style="text-align: center;">Задачи</h2>
    <div>
        <p>Всего задач : {{ count_of_todos }}</p>
    </div>
    <div>
        {% for todo in todos %}
        <div class="content-container">
            <hr />
            {% if todo.completed %}
                <h4>Статус: <em class="complete-todos">Выполнено</em></h4>
            {% else %}
                <h4>Статус: <em class="uncomplete-todos">НЕ Выполнено</em></h4>
            {% endif %}
            <div class="task">
                {% if todo.completed %}
                    <strike>{{ todo.title }}</strike>
                {% else %}
                    {{ todo.title }}
                {% endif %}
                <small>
                    {% if todo.completed %}
                        <button type="button" class="btn btn-light" value="{{ todo.id }}" onclick="complete(this.value)">Вернуть</button>
                    {% else %}
                        <button type="button" class="btn btn-dark" value="{{ todo.id }}" onclick="complete(this.value)">Выполнить</button>
                    {% endif %}
                    <a href="/{{ todo.id }}"><button type="button" class="btn btn-primary">Редактировать</button></a>
                    <button id="{{ todo.id }}" type="button" class="btn btn-danger" onclick="deleteToDo(this.id)">Удалить</button>
                </small>
            </div>
        </div>
        
        {% endfor %}
    </div>

    {% if count_of_todos >= 10 %}
        <div class="container d-flex justify-content-center align-items-center" style="margin-top: 30px;">
            <button id="prevPage" class="btn btn-outline-dark">Предыдущая страница</button>
            <span id="currentPage" style="display: inline-block; padding: 15px;"></span>
            <button id="nextPage" class="btn btn-outline-dark">Следующая страница</button>
        </div>
    {% endif %}

    
    <script type="text/javascript">
        function openModal() {
            console.log("hello");
            const element = document.getElementById('loginModal');
            element.classList.add('show');
        }

        function closeModal() {
            const element = document.getElementById('loginModal');
            element.classList.remove('show');
        }

        window.onclick = function(event) {
            const element = document.getElementById('loginModal')
            if (event.target == element) {
            element.classList.remove('show');
            }
        }


        async function deleteToDo(value) {
            url = "/delete/" + value;
            console.log(url); 
            const response = await fetch(url, {
                method: "DELETE",
            })
            window.location.href = "/";
        }

        async function complete(todo_id) {
            window.location.href = "/compile/" + todo_id;
        }
    </script>

<script>
    const itemsPerPage = 6; // Number of items to show per page
    let currentPage = 1;
    let count_of_news = Number('{{ count_of_todos }}');

    function showItems(page) {
        const startIndex = (page - 1) * itemsPerPage;
        const endIndex = startIndex + itemsPerPage;

        for (let i = 0; i < count_of_news; i++) {
            if (i >= startIndex && i < endIndex) {
                document.getElementsByClassName('content-container')[i].style.display = 'block';
            } else {
                document.getElementsByClassName('content-container')[i].style.display = 'none';
            }
        }
    }

    function updatePagination() {
        let pagesTotal = Math.ceil(count_of_news / itemsPerPage)
        if (pagesTotal === 0) {
            pagesTotal = 1;
        }
        document.getElementById('currentPage').textContent = `Страница ${currentPage} / ${pagesTotal}`;
    }

    // Initial rendering
    showItems(currentPage);
    updatePagination();

    // Event listeners for previous and next buttons
    document.getElementById('prevPage').addEventListener('click', function () {
        if (currentPage > 1) {
            currentPage--;
            showItems(currentPage);
            updatePagination();
        }
    });

    document.getElementById('nextPage').addEventListener('click', function () {
        const maxPage = Math.ceil(count_of_news / itemsPerPage);
        if (currentPage < maxPage) {
            currentPage++;
            showItems(currentPage);
            updatePagination();
        }
    });
</script>

{% endblock content %}
