{% extends 'base.html' %}

{% block content %}
</div>
</header>


<canvas id="myCanvas" width="300" height="300"></canvas>

<script>
    var canvas = document.getElementById('myCanvas');
    var context = canvas.getContext('2d');

    var centerX = canvas.width / 2;
    var centerY = canvas.height / 2;
    var radius = Math.min(canvas.width, canvas.height) / 2;

    var values = [{{ count_dict[0] }}, {{ count_dict[1] }}, {{ count_dict[2] }}, {{ count_dict[3] }}];
    var colors = ['#3498db', '#e74c3c', '#2ecc71', '#f39c12'];

    var startAngle = 0;

    var labels = ['Учёба', 'Личное', 'Планы', 'Пусто'];

    for (var i = 0; i < values.length; i++) {
        var endAngle = startAngle + (values[i] * 2 * Math.PI);

        context.beginPath();

        context.moveTo(centerX, centerY);
        context.arc(centerX, centerY, radius, startAngle, endAngle);
        context.lineTo(centerX, centerY);

        context.fillStyle = colors[i];
        context.fill();

        var labelAngle = startAngle + (values[i] * Math.PI);
        var labelX = centerX + (radius / 1.5) * Math.cos(labelAngle);
        var labelY = centerY + (radius / 1.5) * Math.sin(labelAngle);

        context.font = '14px Arial';
        context.fillStyle = '#fff'; // Белый цвет для текста
        context.textAlign = 'center';
        context.textBaseline = 'middle';

        var percentage = (values[i] * 100).toFixed(0);
        context.fillText(labels[i] + ' ' + percentage + '%', labelX, labelY);

        startAngle = endAngle;
    }
</script>
{% endblock content %}